@{
    ViewData["Title"] = "Cadastre um e-waste";
}
@model EletronicPartsCatalog.Web.Pages.Models.ObjectCreateViewModel

<div class="row">
    <div class="col-md-6 col-md-push-3">
        <section>
            <form asp-controller="Objects" asp-action="Add" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()

                <h4>Cadastre um e-waste</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label">Nome</label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label">Descrição</label>
                    <div class="col-md-10">
                        <textarea asp-for="Description" cols="3" rows="5" class="form-control" ></textarea>
                    </div>
                </div>
                <hr />
                <div class="form-check">
                    <label for="checkbox" class="form-check-label">Seu e-waste tem algum desses componente cadastrado?</label>
                    <br />
                    <ul>
                        @for (var i = 0; i < Model.Parts.Count; i++) {
                            <li>
                                <input class="form-check-input" type="checkbox" asp-for="@Model.Parts[i].Selected" />
                                <label class="form-check-label" asp-for="@Model.Parts[i].Selected">@Model.Parts[i].Name</label>
                            </li>
                        }
                    </ul>
                    <br/>
                </div>
                <a href="@Url.Action("Add", "Parts")">Não temos os componentes cadastrados? Nos ajude, cadastre!</a>


                @if(Model.ErrorMessage != String.Empty)
                {
                    <p>@Model.ErrorMessage</p>
                }
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
</div>